<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='enter_name.css') }}">
    <title>Enter Name</title>
</head>
<body>
    <div class="container">
    <h1>Enter Name</h1>
    <form action="/enter_name" method="post">
        <input type="hidden" name="uploaded_image_path" value="{{ uploaded_image_path }}">
        <label for="new_name">Enter the name of the person:</label>
        <input type="text" name="new_name" required>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>
